<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/img/entrepreneur-1340649_1920.jpg" class="img-responsive center-block"
          style="max-height:300px;padding-bottom:50px" />
      </div>

      <div class="text-center">
        <h3>Gk-Force Bank:</h3>
      </div>
    </div>
    <div class="card bg-primary text-white text-center p-3">
      <blockquote class="blockquote mb-0">
        <p> Avec vous dans tous vos projets ! </p>
        <footer class="blockquote-footer">
            <small class="text-muted">
             " On obtient la faveur, on gagne le crédit." <cite title="Source Title"> Anne Barratin</cite>
          </small>
        </footer>
      </blockquote>
    </div>

      <div class="card-columns">
        <div class="card">
          <img class="card-img-top" src="./assets/img/economie.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">MES ACCES RAPIDES</h5>

            <li><a href="demande" (click)="demandes">Ouvrir un compte  
            <a routerLink="/iscription"> </a> </a> </li>  
            <li><a href="demandes" title="demandes">Accéder à mes comptes </a>
              <a routerLink="/connexion"></a></li>
            <li><a href="demandse" title="demandes">Faire un virement </a>
              <a routerLink="/connexion"></a></li>
            <li><a href="demandes" title="demandes">Prendre un rendez-vous </a>
              <a routerLink="/accueil"></a></li>

          </div>
        </div>
       
        <div class="card">
          <img class="card-img-top" src="./assets/img/assurer.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">ASSUREZ-VOUS D’ÊTRE BIEN PROTÉGÉ</h5>
            <a href="assurer" title="assurer">ASSUREZ-VOUS D’ÊTRE BIEN PROTÉGÉ</a>
            <a routerLink="/assurer"></a>
            <p class="card-text">L’assurance habitation est obligatoire pour tous les propriétaires d’un logement situé
              en co-propriété. Pour une maison individuelle, l’assurance habitation reste vivement conseillée car elle
              couvre le bien immobilier mais aussi les biens mobiliers et les objets de valeur pour les sinistres liés
              aux incendies, explosions, dégâts des eaux, vols.</p>
            <p class="card-text"><small class="text-muted">Article à caractère informatif et publicitaire.

              </small></p>
          </div>
        

        <div class="card p-3 text-right">
          <blockquote class="blockquote mb-0">
            <h5 class="card-title">Tout savoir sur les livrets d'épargne</h5>
            <p>Tout savoir sur les livrets d'épargne : du Livret A dont le fonctionnement est strictement encadré par
              les pouvoirs publics aux comptes sur livret librement commercialisés par les banques ou les établissements
              de crédit. Vous trouverez dans cette rubrique les taux en vigueur, les plafonds, la fiscalité, la
              réglementation et toutes les explications sur les comptes sur livret d'épargne.</p>

            <div class="card">
              <img class="card-img" src="./assets/img/epargne.jpg" alt="Card image">
            </div>
            <footer class="blockquote-footer">
              <div class="card">
                <img class="card-img" src="./assets/img/epargne.jpg" alt="Card image">
              </div>
             
            </footer>
          </blockquote>
        </div>
       
         
        </div>
      </div>
      <div class="card"> </div>
      <div class="adresse">  
        <div class="footer-right">Gk-Force Bank</div>
        <div class="footer-right">Adresse: 95 avenue Victor Hugo</div>
        <div class="footer-right">92100 Rueil Mailmaison</div>
        <div class="footer-right">email: kglobal200@gmail.com</div>
        <div class="footer-right">
      </div>
    </div>
  </div>
</div>
