<!--<app-accueil></app-accueil>
<app-connexion></app-connexion>-->

<section>
  <nav>
    <ul>
      <button><li routerLink="/accueil" class="btn btn-primary">Accueil</li></button>
      <button><li  routerLink="/inscription"  class="btn btn-primary">Inscription</li></button>
      <button><li routerLink="/connexion" class="btn btn-primary">Connexion</li></button>
      <button><li routerLink="/espace-client" class="btn btn-primary">Espace client</li></button>
      <button><li routerLink="/historique-list" class="btn btn-primary">Historique</li></button>
    </ul>
  </nav>
  
  <div class="container spacer">
    <router-outlet></router-outlet>
  </div>
</section>
  