<h2>Validation de la Demande</h2>

<!---->

<section>
    <nav>
        <ul id="chemin">
            <button><li routerLink="/details-demande/:ref" class="btn btn-primary">Retour</li></button>
        </ul>
    </nav>
    <div>
    <!--<div *ngFor="let vd of validationDemande">
        <p>Numéro de Demande : {{vd.ref_demande}} </p>
        <hr>
        <p>Date de la Demande : {{vd.date_demande}}</p>
        <hr>
    </div>-->
        <form>
            Numéro de Compte : <input type="number" name="number" />
            Date de Création :<input type="date" name="date" />
            Premier Dépôt :<input type="number" name="solde" />
            <div>
                <input type="checkbox" id="courant" name="courant">
                <label for="courant">Compte Courant</label>
            </div>
            <div>
                <input type="checkbox" id="rem" name="rem">
                <label for="rem">Compte Rémunéré</label>
            </div>
            Taux d'Intérêt : <input type="number" name="taux" />
            Facilité de Caisse : <input type="texte" name="facilite" />
            Montant Débit : <input type="number" name="debit" />
            <button id="validation" type="submit" class="btn btn-primary">Valider</button>
        </form>
    </div>
</section>
