<section>
        <nav>
          <ul>
            <button><li routerLink="/admin/gererConseiller" class="btn btn-primary">Gerer les Conseillers</li></button>
            <button><li routerLink="/" class="btn btn-primary">Affecter les utilisateurs aux Conseillers</li></button>
          </ul>
        </nav>
      


            <nav>
              <ul>
               
                <button><li  routerLink="/accueil"  class="btn btn-primary">Accueil</li></button>

              </ul>
            </nav>
          
          
        <div class="container spacer">
          <router-outlet></router-outlet>
        </div>
      </section>
   





