<!--<h2>Demandes à traiter</h2> 

<section>
    <nav>
        <ul>
            <button><li routerLink="/admin" class="btn btn-primary">Retour</li></button>
        </ul>
    </nav>
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Type de Demande</th>
                <th>Date de la Demande</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let d of demandes">
                <td>{{d.nom}}</td>
                <td>{{d.prenom}}</td>
                <td>{{d.type_demande}}</td>
                <td>{{d.date_demande}}</td>                        
                <td *ngIf="d.type_demande==0">Ouverture du Compte</td>
                <td *ngIf="d.type_demande==1">Demande de Chequier</td>
                <button type="button" class="btn btn-primary">Affecter</button>
            </tr>
        </tbody>
    </table>
</section>
-->