<h2>Comptes Courants</h2>

<section>
        <nav>
            <ul>
                <button><li routerLink="/conseiller" class="btn btn-primary">Retour</li></button>
            </ul>
        </nav>
        <table class="table">
            <thead>
                <tr>
                    <th>Numéro de Compte</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Date d'Ouverture du Compte</th>
                    <th>Solde</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let c of comptesCourants">
                    <td>{{c.numero_compte}}</td>
                    <td>{{c.nom}}</td>
                    <td>{{c.prenom}}</td>
                    <td>{{c.date_creation}}</td>
                    <td *ngIf="c.solde > 0" style="background-color:#80FF33;">{{c.solde}} €</td>
                    <td *ngIf="c.solde <=0" style="background-color: #FF5B33;">{{c.solde}} €</td>
                    <td></td>
                    <a [routerLink] = "['/details-transactions',c.id_compte]" class="btn btn-primary">Détails</a>
                    <td></td>
                    <a [routerLink] = "['/details-client',c.id_compte]" class="btn btn-primary">Fiche Client</a>
                </tr>
            </tbody>
        </table>
</section>