body {
  margin-block: 5px;
  }
h1 {
    color: blue;
    text-align: center;
  }

  p {
    font-family: verdana;
    font-size: 20px;
  }

  .adresse {
     border-color: royalblue; font-size: 12px;
  }