
<section>
        <ol class="breadcrumb">
            <li><a href="accueil" title="Accueil">Accueil/ </a>
                <a routerLink="/accueil"></a></li>
            <li><a href="assurer" title="Assurer">ASSUREZ-VOUS-D’ÊTRE-BIEN-PROTÉGÉ </a>
                <a routerLink="/assurer"></a></li>
            <li class="active">ASSUREZ-VOUS-D’ÊTRE-BIEN-PROTÉGÉ</li>
        </ol>
        
        <p>

        Ça y est ! Vous allez être l’heureux propriétaire de votre résidence principale. Félicitations ! De la souscription d’une assurance habitation à la mise en place d’un système de télésurveillance, il vous faut maintenant prendre certaines mesures afin de protéger votre maison et ses habitants.

        L’ASSURANCE HABITATION, UNE PRÉCAUTION ESSENTIELLE
        L’assurance habitation est obligatoire pour tous les propriétaires d’un logement situé en co-propriété. Pour une maison individuelle, l’assurance habitation reste vivement conseillée car elle couvre le bien immobilier mais aussi les biens mobiliers et les objets de valeur pour les sinistres liés aux incendies, explosions, dégâts des eaux, vols.
        
        L’assurance multirisque habitation vous couvre également si votre responsabilité civile est engagée : selon l’assureur, elle couvre les dommages corporels et matériels causés par le propriétaire du bien, la personne avec qui il vit, les enfants dont il a la garde, ses animaux, les personnes employées à domicile…
        
        Au moment où vous achetez le bien, pensez à vérifier qu’il est assuré au jour du transfert de propriété.
        
        QUELLE TÉLÉSURVEILLANCE POUR MA MAISON ?
        Pour aller plus loin et vous prémunir des tentatives d’intrusion, vous pouvez équiper votre maison ou votre appartement d’une simple alarme, et/ou opter pour une solution plus complète de télésurveillance.
        
        Dans ce cas, un système d’alarme est installé par des professionnels dans votre domicile. Il est relié 24h/24 à des opérateurs de télésurveillance qui, en cas d’intrusion réagissent immédiatement et qui peuvent avertir les forces de l’ordre si nécessaire en fonction des systèmes de contrôle mis en place.
        
        Les solutions de télésurveillance peuvent être adaptées sur mesure en fonction de votre maison et de vos besoins, avec toute une gamme de services et technologies variées : simulateurs de présence, alarme sonore ou muette…
</p>
<div class="container spacer">
        <router-outlet></router-outlet>
    </div>
</section>