<section>
    <div class="container">
        <button routerLink="/connexion"  class="btn btn-info">Retour</button>
        <h2>Espace client</h2>
        <form>
            <nav>
                <ul>
                    <button><li routerLink="/compte-client" class="btn btn-info">Gestion du compte client</li></button>
                    <button><li routerLink="/operation" class="btn btn-info">Opérations bancaires</li></button>
                    <button><li routerLink="/demandes-client" class="btn btn-info">Demandes clients</li></button>    
                </ul>
            </nav>
        </form>
    </div>
</section>
