<h1>Espace Client</h1>
<section>
    <nav class="retour">
        <ul>
            <button><li routerLink="/connexion" class="btn btn-primary">Retour</li></button>
        </ul>
    </nav>
    <nav class="navigation">
        <ul>
            <button><li routerLink="/compte-clients" class="btn btn-primary">Gestion Compte Client</li></button>
            <button><li routerLink="/operation" class="btn btn-primary">Opérations Bancaires</li></button>
            <button><li routerLink="/demandes" class="btn btn-primary">Demandes Clients</li></button>    
        </ul>
    </nav>
</section>
