
<ol class="breadcrumb">
        <li><a href="accueil" title="Accueil">Accueil/ </a>
            <a routerLink="/accueil" ></a></li>
        <li><a href="admin" title="Admin">Admin/ </a>
            <a routerLink="/admin"></a></li>
        <li class="active">Gestion-des-Conseillers
           
    </li>
</ol>

<div class= 'pull-right col-md-5'>
        <a class='btn btn-primary' 
            (click)='createConseiller()' routerLink="/admin/gererConseiller/creerConseiller">
            Creation Conseiller
        </a>
</div>
        <div class="container spacer">
            <router-outlet></router-outlet>
        </div>
        <listConseillers></listConseillers>

     