<div class="row">
    <div class="col">
    <section>
        <button routerLink="/espace-client" class="btn btn-info">Retour</button>
        <p id="titre">COMPTE DU CLIENT {{getAdresseEntete()}}</p>
 
        <div id="adresse">
            {{getAdresseEntete()}}<br>
            {{getAdresseCorps()}}<br>
            {{getAdressePied()}}<br>
        </div>
    <br/>
    </section>
        <section class="main">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id compte</th>
                        <th>Numéro de compte</th>                        
                        <th>Type de compte</th>
                        <th>Solde</th>
                        <th></th>
                    </tr>                   
                    </thead>
                    <tbody>
                        <tr *ngFor="let gc of gestionCompteClient">
                            <td>{{gc.id_compte}}</td>
                            <td>{{gc.numero_compte}}</td>                            
                            <td *ngIf="gc.type_compte==0; then thenR else elseC"></td>
                            <ng-template #thenR>Rémunéré</ng-template>
                            <ng-template #elseC>Courant</ng-template>
                            <td *ngIf="gc.solde > 0" style="background-color:#80FF33;">{{gc.solde}} €</td>
                            <td *ngIf="gc.solde <=0" style="background-color: #FF5B33;">{{gc.solde}} €</td>                            
                            <td><button routerLink="/detail-transactions"  class="btn btn-info">Détails</button></td>     
                        </tr>    
                    </tbody>                  
            </table>          
            <p id="solde">SOLDE DU COMPTE {{getTotal()}} €</p>
        </section>  
        </div>
    </div>