<h2>Demande Client</h2>

<section *ngFor="let dd of detailsDemandes">
    <nav>
        <ul id="chemin">
            <button><li routerLink="/demandes" class="btn btn-primary">Retour</li></button>
        </ul>
    </nav>
    <div>
        <p>Numéro de Demande : {{dd.ref_demande}}
            <button id="refuse" class="btn btn-danger">Refuser</button>
            <a id="accept" [routerLink] = "['/traitement-demandes-comptes',dd.ref_demande]" class="btn btn-success">Valider</a>
            <!--<a id="accept" [routerLink] = "['validation' ]" routerLinkActive="active" class="btn btn-success">Accepter</a>-->
        </p>
        <hr>
        <p>Date de la Demande : {{dd.date_demande}}</p>
        <hr>
        <p>Nom : {{dd.nom}}</p>
        <p>Prénom : {{dd.prenom}}</p>
        <hr>
        <p>Adresse : {{dd.num_rue}}, {{dd.nom_rue}} - {{dd.code_postal}} {{dd.ville}}</p>
        <hr>
        <p>Téléphone : {{dd.telephone}}</p>
        <hr>
        <p *ngIf="dd.statut=='d'">Situation Familiale : Divorcé(e)</p>
        <p *ngIf="dd.statut=='m'">Situation Familiale : Marié(e)</p>
        <p *ngIf="dd.statut=='c'">Situation Familiale : Célibataire</p>
        <p *ngIf="dd.statut=='v'">Situation Familiale : Veuf/Veuve</p>
        <hr>
        <p>Nombre d'Enfants : {{dd.nb_enfants}}</p>
        <hr>
        <p>Type de Documents Fournis : {{dd.type_document}}</p>
        <hr>
        <p>Documents Joints : {{dd.contenu_document}}</p>
        <hr>
    </div>
</section>
