section{
	//background-color: #77BAEC; 
	position: fixed;
    top: 50px;
    left: 0;
    width:100%;
    height:100%;
    background-image: url('../../assets/img/entrepreneur-1340649_1920.jpg');
}

h1{
	margin-top: 5px;
}

#myTab{
	background-color: white;
}
