
<div class='card'>
        <div class='card-header'>
          {{pageTitle}}
        </div>
        <div class='card-body'>
          <div class='row'>
            <div class='col-md-2'>Filtrer par:</div>
            <div class='col-md-4'>
               <input type='search' [(ngModel)]="listFiltrer"> 
            </div>
            
          </div>
  
          <div class='table-responsive'>
            <table class='table'>
              <thead>
                <tr>
                  <th>Matricule</th>
                  <th>Nom </th>
                  <th>Prenom</th>
                </tr>
              </thead>

              <tr *ngFor='let conseiller of filtrerConseillers'>
                <td>{{conseiller.mle_conseiller}}</td>
                <td><a [routerLink]="['/conseillers', conseiller.nom]">
                  {{ conseiller.nom }}
                </a></td>
                <td>{{conseiller.prenom}}</td>
                
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div *ngIf='errorMessage'
           class='alert alert-danger'>
        Error: {{ errorMessage }}
      </div>
