<div class='card'>
        <div class='card-header'>
          {{pageTitle}}
        </div>
        <div class='card-body'>
          <div class='row'>
            <div class='col-md-2'>Filtrer par:</div>
            <div class='col-md-4'>
              <input type='text'
                     [(ngModel)]='listFilter' />
            </div>
            <div class='col-md-6'>
                    <button class='btn btn-primary' 
                        (click)='createConseiller()'>
                        Creation Conseiller
                    </button>
            </div>
          </div>
  
          <div class='table-responsive'>
            <table class='table'>
              <thead>
                <tr>
                  <th>Matricule</th>
                  <th>Nom</th>
                  <th>Prenom</th>
                </tr>
              </thead>
              <tr *ngFor='let conseiller of conseillers'>
              
                <td>{{conseiller.conseillerMle}}</td>
                <td>{{conseiller.conseillerNom}}</td>
                <td>{{conseiller.conseillerPrenom}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div *ngIf='errorMessage'
           class='alert alert-danger'>
        Error: {{ errorMessage }}
      </div>