section
{
    position: fixed;
    top: 50px;
    left: 0;
    width:100%;
    height:100%;
    background-image: url('../../assets/img/entrepreneur-1340649_1920.jpg');
}

#deco
{
    text-align:center;
}

img
{
    width : 200px;
    height : 200px;
}

#formuleentete
{
    text-align:center;
    color:white;
    border: 1px solid black;
    background-color: darkcyan;
    font-size:50px;
}

#container
{
    width:400px;
    margin:auto;
}

form 
{
    border: 1px solid black;
    color:white;
    background-color: darkcyan;
    text-align:left;
    margin : 10px;
    padding : 10px;
}

input
{
    border: 1px solid aqua;
    margin : 10px 0;
    padding : 10px 0;
    width : 100%;
}

/*input[type=text], input[type=password] 
{
    display: inline-block;
    box-sizing: border-box;
}*/

input[type=submit] 
{
    background-color: grey;
    color: white;
}

input[type=submit]:hover 
{
    background-color: silver;
    color: black;
    border: 1px solid grey;
}
