<section>
    <div id="container">   
        <div id="deco">
            <img src="../../assets/img/bitcoin-3089728_1920.jpg"/>
                    
            <p id="formuleentete">Bienvenue chez Gk-Force</p>
            <div> 
                                    
          <form (ngSubmit)=onSubmit()>
                <label for="username"><b>Nom d'utilisateur :</b></label>
                    <input type="text" placeholder="Entrer le nom d'utilisateur" name="username" required>
                                  
                    <label for="password"><b>Mot de passe :</b></label>
                    <input type="password" placeholder="Entrer le mot de passe" name="password" required>
                                 
                    <input type="submit" class='submit' value="S'inscrire">

                    <input type="submit" class='submit' value="Se connecter">
                                                    
            </form> 
             
            </div>  
         </div>
     </div>
</section>
       


                
        
    

